<div class="container mx-auto">

    {{!-- Account invfo --}}
    <form class="row  my-4" action="/accounts/{{account._id}}/boards/" method="post">
        <h3 class="col-6">Boards</h3>
        <input class="col-3" type="text" name="name" id="new-board">
        <input class="col-3" type="submit" value="New Board">
    </form>

    {{!-- Display all boards --}}
    <div class="row  mt-4">
        {{#each boards}}
        <form class="col-sm-12 col-md-3 boards-card m-4 p-3 " method="POST" style="background-color: {{backgroundColor}}"
            action="/accounts/{{accountObjectId}}/boards/{{_id}}?_method=DELETE">
            <div class="h3"><a href="/accounts/{{accountObjectId}}/boards/{{_id}}">{{name}}</a></div>
            <button type="submit" class="btn btn-outline-secondary">Delete Board</button>
        </form>
        {{/each}}
    </div>
    {{!-- Delete current account --}}
    <div class="row mt-4">
        <form class="col-4 mt-4" method="POST" action="/accounts/{{account._id}}?_method=DELETE">
            <button type="submit" class="btn btn-outline-danger btn-lg">DELETE ACCOUNT</button>
        </form>
    </div>
</div>