<div class="container mx-auto">

    {{!-- Account invfo --}}
    <form class="row justify-content-center my-4" action="/accounts/{{account._id}}/boards/" method="post">
        <h3 class="col-3">Boards</h3>
        <input class="col-3" type="text" name="name" id="new-board">
        <input class="col-3" type="submit" value="New Board">
    </form>

    {{!-- Display all boards --}}
    <div class="row justify-content-center mt-4">
        {{#each boards}}
        <form class="col-sm-12 col-md-3 boards-card m-2 p-3" method="POST"
            action="/accounts/{{accountObjectId}}/boards/{{_id}}?_method=DELETE">
            <div class="h3"><a href="/accounts/{{accountObjectId}}/boards/{{_id}}">{{name}}</a></div>
            <input type="submit" value="Delete Board">
        </form>
        {{/each}}
    </div>
    {{!-- Delete current account --}}
    <div class="row justify-content-center">
    <form class="col-2" method="POST" action="/accounts/{{account._id}}?_method=DELETE">
        <input type="submit" value="Delete Account" />
    </form>
    </div>
</div>