<div class="jumbotron container edit-container row mx-auto">

  <div class="col-4">
    <div class="row justify-content-center">
      <img class="col-6 edit-profile" src="{{account.profilePicture}}" alt="">
    </div>
    <div class="row justify-content-center">
      <label class="col-8" for="profilePicture">Profile Picture</label>
    </div>
  </div>

  <form class="col-8 " method="POST" action="/accounts/{{account._id}}?_method=PUT">

    <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <div class="form-row mb-4">

      <div class="col-12 mb-4">
        <input type="text" class="form-control" value="{{account.name}}" name="name" placeholder="Full Name">
      </div>
      <div class="col-12">
        <input type="text" class="form-control" value="{{account.username}}" name="username" placeholder="Username">
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col-12">
        <input type="text" class="form-control" name="profilePicture" value="{{account.profilePicture}}"
          placeholder="Enter link to Profile Picture">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 ">
        <button id="profilePicture" class="form-control" type="submit">Update Account</button>
      </div>
    </div>
  </form>
</div>